{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


<div class="container">
    <div class="row mt-3 text-center">
        <h2>{% trans "Password Reset" %}</h2>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
        </p>

        <form class="login" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="hvr-icon-forward form-button" type="submit">{% trans "Reset My Password" %} <i
                class="fa fa-chevron-circle-right hvr-icon"></i></button>
        </form>

    </div>
</div>
{% endblock %}