/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Dosis&display=swap');

body {
    font-family: 'Bitter', sans-serif;
    background-color: #fafafa;
    color: #878e76;
    height: 100vh;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:where(h1, h2, h3, h4, h5, h6) {
    font-family: 'Dosis', sans-serif;

}

.uppercase {
    text-transform: uppercase;
}

.body-headers {
    margin-top: 30px;
}

/* --- Nav bar section --- */

.navbar {
    background-color: #fafafa;
}

.navbar-brand {
    background-color: #878e76;
    color: #fafafa;
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    padding: 5px;
}

.navbar-brand:hover {
    color: #fafafa;
}

.nav-item a {
    color: #878e76;
    font-size: 18px;
    position: relative;
}

.nav-item a::after {
    content: '';
    width: 95%;
    height: 1px;
    background-color: #878e76;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transition: -webkit-transform .45s ease;
    transition: -webkit-transform .45s ease;
    -o-transition: transform .45s ease;
    transition: transform .45s ease;
    transition: transform .45s ease, -webkit-transform .45s ease;
}

.nav-item a:hover {
    color: #878e76;
}

.nav-item a:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
}

.navbar-toggler-icon {
    color: #878e76;
}

@media screen and (max-width: 310px) {
    .logo {
        display: none;
    }
}

/* --- Jumbotron  --- */
/* --- From the bootstrap walk through section  --- */

.jumbotron {
    height: 90vh;
    background: -webkit-gradient(linear,
            left top, left bottom,
            from(rgba(0, 0, 0, 0.5)),
            to(rgba(0, 0, 0, 0.5))), url('https://res.cloudinary.com/dbyq9he7h/image/upload/v1655817251/pexels-pixabay-269063_zturzn.jpg') no-repeat center;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dbyq9he7h/image/upload/v1655817251/pexels-pixabay-269063_zturzn.jpg') no-repeat center;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/dbyq9he7h/image/upload/v1655817251/pexels-pixabay-269063_zturzn.jpg') no-repeat center;
    background-size: cover;
    overflow-x: hidden;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.hero-container {
    width: 30%;
    color: #fafafa;
}

/* --- W3 schools Help  --- */

.hero-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 20px;
    text-align: center;
}

.hero-slogan {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .hero-text {
        width: 80%;
        color: #fafafa;
    }
}


/* --- Three reasons to sign up  --- */

.three-reasons-container {
    background-color: #878e76;
    color: #fafafa;
    height: 45vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.three-reasons-heading,
.three-reasons-content {
    text-align: center;
    padding: 5px 5px 0px;
}

@media only screen and (max-width: 767px) and (min-width: 501px) {

    .three-reasons-container {
        height: 75vh;
    }
}

@media screen and (max-width: 500px) {
    .three-reasons-container {
        height: 70vh;
    }

    .three-reasons-heading {
        font-size: 18px;
    }

    .three-reasons-content {
        font-size: 14px;
    }
}

/* --- Recipe Cards overview  --- */

.card-body {
    height: 70vh;
    background-color: #fafafa;
}

/* --- https://stackoverflow.com/questions/37287153/how-to-get-images-in-bootstraps-card-to-be-the-same-height-width --- */

.image-container {
    overflow: hidden;
}

.card-img-top {
    margin-bottom: 15px;
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.image-container img {
    transition: transform .25s ease-in;
}


.image-container img:hover {
    transform: scale(1.05);
}


.card-body > a {
    text-decoration: none;
    color: #878e76;
}

@media screen and (max-width: 500px) {

    .recipe-img>img {
        width: 100%;
    }

    .card-img-top {
        width: 100%;
        height: 30vw;
        object-fit: cover;
    }

    .card-body {
        height: 60vh;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 501px) {

    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-body {
        height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .card-body {
        height: 600px;
    }
}

/* animate on scroll */
/* Help from https://www.youtube.com/watch?v=huVJW23JHKQ&t=318s */

.fade-in {
    opacity: 0;
    transition: all 500ms;
}

.fade-in.appear {
    opacity: 1;
}

/* --- Recipe Info  --- */

.recipe-info {
    height: 22vh;
}

.recipe-img>img {
    width: 100%;
    height: 50vh;
    object-fit: contain;
}

@media screen and (max-width: 500px) {
    .recipe-img>img {
        width: 100%;
        height: 30vh;
        object-fit: contain;
    }

}

@media screen and (max-width: 392px) {
    .recipe-info {
        margin-bottom: 20px;
    }

}


@media screen and (min-width: 500px) {
    .recipe-img>img {
        width: 100%;
        height: 60vh;
        object-fit: contain;
    }
}

@media screen and (min-width: 1200px) {
    .recipe-info {
        height: 20vh;
    }
}

/* --- comments section  --- */

.comments {
    margin: 20px 10px;
}

.comments-body {
    background-color: #878e76;
    color: #fafafa;
}

.comment-hr {
    border: 1px solid #fafafa;

}

.comment-info {
    margin: 10px 5px;
}

/* Index contact  */

.index-content-wrapper {
    background-color: rgba(121, 120, 120, 0.2);
    height: 50vh;
    display: flex;
    align-items: center;
}

.index-content {
    margin: 0 auto;
    color: black;
}

.index-content h2 {
    text-shadow: 5px;
}

/* Sweep To Right */

.index-links {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 5px;
}

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    font-weight: bold;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #878e76;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }


/* --- Submit button for create recipe  --- */

.submit-btn {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #878e76;
    color: #fafafa;
}

.submit-btn:hover {
    background-color: #fafafa;
    color: #878e76;
}

/* --- Footer  --- */

footer {
    margin-top: auto;
    background-color: #878e76;
    color: #fafafa;
}


/* --- Sign Up/ Log IN page   --- */

.signup > p {
    margin-top: 15px;
    padding: 5px 0px;
}

.signup input,
.login input {
    padding: 5px 5px;
    background-color: #fafafa;
    border: none;
    border-bottom: 1px solid;
    font-size: inherit;
}

/* https://github.com/IanLunn/Hover/blob/master/css/hover.css */
/* Icon Forward */

.form-button {
    background-color: #878e76;
    color: #fafafa;
    border-radius: 4px;
}

@media screen and (max-width: 355px) {
    .form-button {
        margin-bottom: 20px;
    }

}

.hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-forward:hover .hvr-icon,
.hvr-icon-forward:focus .hvr-icon,
.hvr-icon-forward:active .hvr-icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}