@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Dosis&display=swap');

body {
    font-family: 'Bitter', sans-serif;
    background-color: #fafafa;
    color: #878e76;
    height: 100vh;
    margin: 0;
    display:flex; 
    flex-direction:column;
}

:where(h1, h2, h3, h4, h5, h6){
    font-family: 'Dosis', sans-serif;

}

.uppercase {
    text-transform: uppercase;
}

/* --- Nav bar section --- */

.navbar {
    background-color: #fafafa;
}

.navbar-brand {
    background-color: #878e76;
    color: #fafafa;
    transform: skew(-20deg);
    padding: 5px;
}

.navbar-brand:hover {
    color: #fafafa;
}

.nav-item a {
    color: #878e76;
    font-size: 18px;
    position: relative;
}

.nav-item a::after {
    content: '';
    width: 90%;
    height: 1px;
    background-color: #878e76;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .45s ease;
}

.nav-item a:hover {
    color: #878e76;
}

.nav-item a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar-toggler-icon {
    color: #878e76;
}

/* --- Jumbotron  --- */

.jumbotron {
    width: 100%;
}


.hero-slogan {
    margin-bottom: 0;
}


/* --- Three reasons to sign up  --- */

.three-reasons-container {
    background-color: #878e76;
    color:#fafafa;
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;      
} 

.three-reasons-heading,
.three-reasons-content {
    text-align: center;
    padding: 5px 5px 0px;
}

@media screen and (max-width: 400px) {
    .three-reasons-container {
        height: 70vh;
    }
}


footer {
    margin-top: auto;
}

