/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Dosis&display=swap');

body {
    font-family: 'Bitter', sans-serif;
    background-color: #fafafa;
    color: #878e76;
    height: 100vh;
    margin: 0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex; 
    -webkit-box-orient:vertical; 
    -webkit-box-direction:normal; 
        -ms-flex-direction:column; 
            flex-direction:column;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:where(h1, h2, h3, h4, h5, h6){
    font-family: 'Dosis', sans-serif;

}

.uppercase {
    text-transform: uppercase;
}

.body-headers {
    margin-top: 30px;
}

/* --- Nav bar section --- */

.navbar {
    background-color: #fafafa;
}

.navbar-brand {
    background-color: #878e76;
    color: #fafafa;
    -webkit-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
            transform: skew(-20deg);
    padding: 5px;
}

.navbar-brand:hover {
    color: #fafafa;
}

.nav-item a {
    color: #878e76;
    font-size: 18px;
    position: relative;
}

.nav-item a::after {
    content: '';
    width: 90%;
    height: 1px;
    background-color: #878e76;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform .45s ease;
    transition: -webkit-transform .45s ease;
    -o-transition: transform .45s ease;
    transition: transform .45s ease;
    transition: transform .45s ease, -webkit-transform .45s ease;
}

.nav-item a:hover {
    color: #878e76;
}

.nav-item a:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
}

.navbar-toggler-icon {
    color: #878e76;
}

@media screen and (max-width: 310px) {
    .logo {
        display: none;
    }
  }

/* --- Jumbotron  --- */
/* --- From the bootstrap walk through section  --- */

.jumbotron {
    height: 90vh;
    background:-webkit-gradient(
        linear,
        left top, left bottom,
        from(rgba(0, 0, 0, 0.5)),
        to(rgba(0, 0, 0, 0.5))
      ), url('https://res.cloudinary.com/dbyq9he7h/image/upload/v1655817251/pexels-pixabay-269063_zturzn.jpg') no-repeat center;
    background:-o-linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('https://res.cloudinary.com/dbyq9he7h/image/upload/v1655817251/pexels-pixabay-269063_zturzn.jpg') no-repeat center;
    background:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('https://res.cloudinary.com/dbyq9he7h/image/upload/v1655817251/pexels-pixabay-269063_zturzn.jpg') no-repeat center;
    background-size: cover;
    overflow-x: hidden;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.hero-container {
    width: 30%;
    color: #fafafa;
}

/* --- W3 schools Help  --- */

.hero-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(255, 255, 255, 0.2); 
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 20px;
    text-align: center; 
}

.hero-slogan {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .hero-text {
        width: 80%;
        color: #fafafa;
    }
  }


/* --- Three reasons to sign up  --- */

.three-reasons-container {
    background-color: #878e76;
    color:#fafafa;
    height: 45vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;      
} 

.three-reasons-heading,
.three-reasons-content {
    text-align: center;
    padding: 5px 5px 0px;
}

@media screen and (max-width: 500px) {
    .three-reasons-container {
        height: 70vh;
    }
}

/* --- Recipe Cards  --- */

.recipe-img > img {
    max-height: 450px;
    max-width: 450px;
}

@media screen and (max-width: 500px) {
    .recipe-img > img {
        width: 100%;
    }
}

footer {
    margin-top: auto;
}
