{% extends "base.html" %}

{% block content %}

<!-- Hero Image section  -->
<header class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center">
        <h1 class="display-3 hero-title">Clean Eats Kitchen</h1>
        <p class="lead pb-4 hero-slogan">Eating clean and staying lean.</p>
    </div>
</header>


<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <h4 class="three-reasons-heading uppercase">Who are we?</h4>
            <p>
                Clean Eats Kitchen are a social group of like-minded foodies wanting to share their
                healthy recipes with the world.
            </p>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <h4 class="three-reasons-heading uppercase">Exclusive Recipes</h4>
            <p>
                All our recipes have been created by our very own members with one goal- helping others
                achieve their health goals through food.
            </p>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <h4 class="three-reasons-heading uppercase">Friendly Community</h4>
            <p>
                Here at Clean Eat Kitchen we don't like negativity so dont be afraid to share your
                recipes!
            </p>
        </div>
    </div>
</div>
<!--
<section class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">Who are we?</h4>
                            <p>
                                Clean Eats Kitchen are a social group of like-minded foodies wanting to share their
                                healthy recipes with the world.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">Exclusive Recipes</h4>
                            <p>
                                All our recipes have been created by our very own members with one goal- helping others
                                achieve their health goals through food.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">Friendly Community</h4>
                            <p>
                                Here at Clean Eat Kitchen we don't like negativity so dont be afraid to share your
                                recipes!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">

            </div>
        </div>
    </div>

</div>

{%endblock%}