{% extends "base.html" %}

{% block content %}

<!-- Hero Image section  -->
<header class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center">
        <h1 class="display-3 hero-title">Clean Eats Kitchen</h1>
        <p class="lead pb-4 hero-slogan">Eating clean and staying lean.</p>
    </div>
</header>


<div class="container-fluid three-reasons-container">
    <div class="row">
        <div class="three-reasons col-md-4">
            <h3 class="three-reasons-heading uppercase">Who are we?</h3>
            <p class="three-reasons-content">
                Clean Eats Kitchen are a social group of like-minded foodies wanting to share their
                healthy recipes with the world.
            </p>
        </div>
        <div class="three-reasons col-md-4">
            <h3 class="three-reasons-heading uppercase">Exclusive Recipes</h3>
            <p class="three-reasons-content">
                All our recipes have been created by our very own members with one goal- helping others
                achieve their health goals through food.
            </p>
        </div>
        <div class="three-reasons col-md-4">
            <h3 class="three-reasons-heading uppercase">Friendly Community</h3>
            <p class="three-reasons-content">
                Here at Clean Eat Kitchen we don't like negativity so dont be afraid to share your
                recipes!
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-8 offset-2">
        <h2 class="index-latest text-center">Latest Recipes</h2>
        <hr>
    </div>
</div>


<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="#" class="recipe-view-link">
                                <div class="image-container">
                                    {% if "placeholder" in recipe.recipe_image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/dbyq9he7h/image/upload/v1655543716/paceholder-default_gc6n2g.jpg">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ recipe.recipe_image.url }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ recipe.owner }}</p>
                                    </div>
                                </div>
                                <h2 class="card-title">{{ recipe.title }}</h2>
                                <p class="card-text">{{ recipe.description }}</p>

                                <hr />
                                <i class="far fa-heart"></i>
                                {{ recipe.number_of_likes }}
                            </a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>

<!-- Add a recipe section -->

<div class="index-content-wrapper">
    <div class="index-content">
        <h2>Want to start adding your own recipe?</h2>
        {% if user.is_authenticated %}
        <a class="btn btn-danger delete-button" href="#" role="button">Add Recipe</a>
        {% else %}
        <div>
            <a class="btn btn-success edit-button" href="#" role="button">Sign Up</a>
            <a class="btn btn-danger delete-button" href="#" role="button">Sign In</a>
        </div>
        {% endif %}
    </div>
</div>


{%endblock%}