{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-12 body-headers text-center">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ recipe.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ recipe.owner }} | {{ recipe.created_on }}</p>
                {% if user.is_authenticated and user.id == recipe.owner.id %}
                <div>
                    <a class="edit-button" href="{% url 'update_recipe' recipe.slug %}" role="button">Edit</a>

                    <a class="delete-button" href="{% url 'delete_recipe' recipe.slug %}" role="button">Delete</a>
                </div>
                {% endif %}
            </div>
            <div class="col-12 text-center recipe-img">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in recipe.recipe_image.url %}
                <img src="https://res.cloudinary.com/dbyq9he7h/image/upload/v1655543716/paceholder-default_gc6n2g.jpg"
                    width="100%">
                {% else %}
                <img src=" {{ recipe.recipe_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<article>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 mt-3">
                <div class="card-body recipe-info">

                    <p class="card-text  text-center">
                        {{ recipe.description | safe }}
                    </p>
                    <p class="card-text-macros text-center">
                        Calories: {{ recipe.calories | safe }} <br>
                        Protein: {{ recipe.protein | safe }} <br>
                        Carbs: {{ recipe.carbs | safe }} <br>
                        Fats: {{ recipe.fat | safe }} <br>
                    </p>
                </div>
            </div>
            <hr>
            <div class="col-sm-12 col-md-6">
                <h2 class="text-center">Ingredients</h2>
                <p>{{ recipe.ingredients | safe}}
            </div>
            <div class="col-sm-12 col-md-6">
                <h2 class="text-center">Steps</h2>
                <p>{{ recipe.steps | safe}}
            </div>
            <hr>
            <div class="row">
                <p>Like this recipe?</p>
                <div class="col-1">
                    {% if user.is_authenticated %}
                    <form action="{% url 'recipe_likes' recipe.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="recipe_id" value="{{ recipe.slug }}" class="btn-like">
                            <i class="fas fa-heart"></i>
                        </button>
                        {% else %}
                        <button type="submit" name="recipe_id" value="{{ recipe.slug }}" class="btn-like">
                            <i class="far fa-heart"></i>
                        </button>
                        {% endif %}
                    </form>
                    {% else %}

                    <span class="text-secondary"><i class="far fa-heart"> </i></span>
                    {% endif %}
                    <span class="text-secondary"> {{ recipe.number_of_likes }}</span>
                </div>
            </div>

        </div>
    </div>
</article>
<div class="container">
    <div class="row comments">
        <div class="col-sm-12 col-md-6 card mb-4 mt-3 comments-body">
            <h3>Comments:</h3>
            <div class="comment-info">
                <!--Lists all comments beneath recipe-->
                {% for comment in comments %}
                <div>
                    <p>
                        <strong>{{ comment.name }}</strong>
                        <span class="">
                            {{ comment.added_on }}
                        </span>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                <hr class="comment-hr">
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-12 col-md-6 card mb-4 mt-3 comments-body">
            <div class="comment-info">
                <h3>Leave a comment:</h3>
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    {{ user.username }} your comment is awaiting approval.
                </div>
                {% else %}
                <!--Allows user to comment if logged in-->
                {% if user.is_authenticated %}

                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success edit-button btn-sm sub-btn">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}